body {
    background-color: black;
}
#board {
    padding-top: 3em;
}
h1, h2 {
    text-align: center;
    font-family: sans-serif;
    color: white;
}
h2 {
    height: 50px;
}
.row > div {
    height: 100px;
    width: 100px;
    float: left;
    text-align: center;
    font-size: 75px;
    font-family: monospace;
    margin: auto;
    color: white;
}
.row {
    clear: right;
    margin: auto;
    width: 304px;
}
.top-left, .middle-left, .bottom-left {
    border-right: .5px solid white;
}
.top-middle, .middle-middle, .bottom-middle {
    border-left: .5px solid white;
    border-right: .5px solid white;
}
.top-right, .middle-right, .bottom-right {
    border-left: .5px solid white;
}
.middle-left, .middle-middle, .middle-right {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.row > div:hover {
    background-color: gray;
}
#reset-button {
    display: none;
    clear: both;
    margin: auto;
    margin-top: 2em;
}