#board {
    padding-top: 3em;
}
h1 {
    text-align: center;
    font-family: sans-serif;
}
.row > div {
    height: 100px;
    width: 100px;
    float: left;
}
.row {
    clear: right;
    margin: auto;
    width: 304px;
}
.top-left, .middle-left, .bottom-left {
    border-right: .5px solid black;
}
.top-middle, .middle-middle, .bottom-middle {
    border-left: .5px solid black;
    border-right: .5px solid black;
}
.top-right, .middle-right, .bottom-right {
    border-left: .5px solid black;
}
.middle-left, .middle-middle, .middle-right {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.row > div:hover {
    background-color: gray;
}